.flex-column {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#parcel_machines {
  #index {
    @extend .flex-column;
    
    #ransack-search {
      margin-top: 15px;
    }
  }
  
  #show {
    @extend .flex-column;
  }
}

