<%= render 'searchbar' %>

<h1>Welcome to the Parcel Machine Finder</h1>

<%= link_to 'Export', root_path(format: 'xlsx', q: params[:q].to_json ) %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Zip</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
    <%= render @parcel_machines %>
  </tbody>
</table>


