<h1>Welcome to the Parcel Machine</h1>

<%= link_to 'Export', export_all_path(format: 'xlsx') %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Zip</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
    <%= render @parcel_machines %>
  </tbody>
</table>


