<h1>Welcome to the Parcel Machine</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Zip</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
    <%= render @parcel_machines %>
  </tbody>
</table>


